<article itemscope itemtype="http://schema.org/Organization">
  <%= link_to image_tag("icons/back.png"), organizers_path %>
<p itemprop="name">
  <b>Name:</b>
  <%= @organizer.name %>
</p>

<p itemprop="description">
  <b>Description:</b>
  <%= @organizer.description %>
</p>
</article>


