<article itemscope itemtype="http://data-vocabulary.org/Event">

<h1>List of events </h1>

<%=link_to(image_tag("icons/add.png"), new_event_path,  :id => "addIcon", remote: true) %>

<%= render "form" %>

<table id="events_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Day & Time</th>
      <th>Location</th>
      <th>Organizer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <%= render @events %>
  </tbody>
</table>
</article>
