body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFG;
    color: #444;
    font-size: 13px;
    font-weight: normal;
}

a {
    color: #333333;
}

.menu {
    background-color: #03B8E2;
    text-shadow: 0 0 0;
}

.menu li{
    list-style-type: none;
    display: inline;
}


h1{
    font-size: 22px;
    text-align: center;
}

.footer{
    background: #ADCEDB; 
}

#addIcon{
    margin-bottom: auto;
}
#backIcon{
    margin-bottom: auto;
}
#deleteIcon{
    margin-bottom: auto;
}

.text-wrap{
    width: 20%;
}